body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: aqua;
    border: 3px solid black;
    height: 500px;
    width: 500px;
    
}
.box{
    height: 50px;
    width: 50px;
    border: 3px solid wheat;
    background-color: aliceblue;
}
#a{
    transition: transform 1s ease-in-out;
}
#a:hover{
    transform: translate(450px);
}
#b{
    transition: transform 1s linear;
}
#b:hover{
    transform: translateY(390px);
}
