.div{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 30px;
    display: inline-block;
    background-color: violet;
}
#d1:hover{
    transform: perspective(10px) translate(20px,30px) translateZ(5px);
}
#d2{
    transform: perspective(10px) scaleZ(20deg);
}