.container{
    border: 1px solid black;
    height: 900px;
    width: 800px;
    background-color: aqua;
    display: grid;

    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 50px 1fr 50px;
}
.box{
    background-color: green;
    border: 1px solid black;
}
#box1,#box5{
    grid-column-start: 1;
    grid-column-end: 4;
}